header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: .25rem solid var(--tertiary);
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }
}