/* generic page style elements */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}
section {
  margin: 0 auto;
  width: 90%;
  padding: 50px 30px;
  flex-grow: 1;
}
.pagewrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
:root {
  --primary: #344966;
  --secondary: #848586ff;
  --tertiary: #c2847a;
  --light: #eee0cb;
  --dark: #280003ff;
  --accent: teal;
  --padding1: .5rem 3rem;
  --padding2: 1rem 5rem;
  --padding3: 2rem 5rem;
}

/* general font sizing */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  padding: var(--padding1);
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1.1rem;
  margin-top: 0;
  font-weight: lighter;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: normal;
  color: var(--dark);
  padding: var(--padding1);
}
a:hover {
  color: var(--accent);
}

/* header and navigation */
/* from use of NavLink */
.active {
  color: var(--accent);
}

/* section: about */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-pic {
  max-width: 10rem;
  max-height: 15rem;
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgb(128, 128, 128 );
  margin: 2rem;
}

/* section: portfolio */
.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  margin: .5rem 1rem;
  text-align: center;
  border-radius: .5rem;
  border-width: .25rem;
  border-color: var(--secondary);
  background-color: var(--primary);
  color: white;
}
.card a {
  font-size: 1rem;
  color: white;
}
.card a:hover {
  color: var(--tertiary)
}
.card-title {
  font-weight: bold;
}

/* section: contact */
form {
  max-width: 60%;
}
.form-label {
  width: 100%;
}
.form-control {
  margin-bottom: 1rem;
  width: 100%;
}
button {
  background-color: var(--tertiary);
  color:white;
  border: 0;
  border-radius: .5rem;
  margin: 2rem auto;
  padding: var(--padding1);
  font-weight: bold;
}

/* section: resume */
.resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-section a {
  font-weight: bold;
}
.skill-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: var(--padding3);
}
.skill-list h5 {
  text-decoration: underline;
}
.skill {
  list-style: none;
  font-weight: lighter;
}

/* footer */
footer {
  border-top: .25rem solid var(--tertiary);
  position: relative;
  bottom: 0;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding1);
}