/* generic page style elements */
main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #baa898ff;
  --secondary: #848586ff;
  --tertiary: #c2847a;
  --light: #eee0cb;
  --dark: #280003ff;
  --padding1: .5rem 3rem;
  --padding2: 1rem 5rem;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--light);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}

/* general font sizing */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  padding: var(--padding1);
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1.1rem;
  margin-top: 0;
  font-weight: lighter;
}
a {
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: normal;
  color: var(--dark);
  padding: var(--padding1);
}
a:hover {
  font-weight: bold; 
}

/* header and navigation */
header {
  border-bottom: .25rem solid var(--tertiary);
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
header nav ul li {
  list-style: none;
}

/* section: about */
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-pic {
  max-width: 10rem;
  max-height: 15rem;
  border-radius: .5rem;
  box-shadow: 0 0 1rem rgb(128, 128, 128 );
  margin: 2rem;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: .25rem solid var(--tertiary);
}
footer div {
  display: flex;
  justify-content: space-evenly;
  padding: var(--padding1);
}
